/*** sass functions includes extends ***/
/*** end ***/
/*** sass variables ***/
/*** end ***/
::-moz-selection {
  background-color: #FFA;
  color: #000;
}

::selection {
  background-color: #FFA;
  color: #000;
}

a, a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer {
  cursor: pointer;
  outline: 0;
}

::-webkit-scrollbar {
  width: 5px;
  height: 6px;
}

::-webkit-scrollbar-track-piece {
  background-color: #000;
}

::-webkit-scrollbar-thumb {
  background-color: #333;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #666;
  border: #444 thin solid;
}

.align-top {
  vertical-align: top;
}

.align-middle {
  vertical-align: middle;
}

header, header .header-content, header .header-nav ul li.navigator > a, .material-section .tab-content ul li, .material-section .nav a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

header .header-nav ul li.navigator, .course-list .batch-layout, .course-list .important-dates > div, .material-section .tab-content ul li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

html, html body, header .header-nav ul li.navigator > a, .page .index-content, .page .page-content .text-slider .cycle-slideshow, .page .page-content .background-slider .cycle-slideshow, .page .page-content .text-slider .cycle-slideshow .cycle-text {
  position: relative;
}

header, .page .page-content .text-slider, .page .page-content .background-slider, .page .page-content .background-slider .cycle-slideshow .cycle-image:before, .page .page-content .text-slider .cycle-slideshow .cycle-text > div {
  position: absolute;
}

.material-section .tab-content ul li {
  cursor: pointer;
}

html, html body {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  -o-user-select: text;
  user-select: text;
}

html, html body, header, header .header-content, .page, .page .page-content, .page .page-content .text-slider, .page .page-content .background-slider, .page .page-content .text-slider .cycle-slideshow, .page .page-content .background-slider .cycle-slideshow, .page .page-content .background-slider .cycle-slideshow .cycle-image, .page .page-content .background-slider .cycle-slideshow .cycle-image:before, .page .page-content .text-slider .cycle-slideshow .cycle-text {
  width: 100%;
}

.full-height, .ui-mobile [data-role=page], html, html body, .page, .page .index-content, .page .index-content .index-wrapper, .page .page-content, .page .page-content .text-slider, .page .page-content .background-slider, .page .page-content .text-slider .cycle-slideshow, .page .page-content .background-slider .cycle-slideshow, .page .page-content .background-slider .cycle-slideshow .cycle-image, .page .page-content .background-slider .cycle-slideshow .cycle-image:before, .page .page-content .text-slider .cycle-slideshow .cycle-text {
  height: 100%;
}

.page .page-content .text-slider, .page .page-content .background-slider {
  overflow: hidden;
}

header .title, header .header-nav, .content-large-title, .page .feature-text .row .feature-box h4 {
  text-align: center;
}

html {
  overflow: auto;
}
html, html body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-animation-delay: 0.1s;
  -webkit-animation-name: fontfix;
  -webkit-animation-duration: 0.1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
}

h1, h2, h3 {
  font-weight: 300;
}

h4, h5, h6 {
  font-weight: 700;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none !important;
}

.ui-bold {
  font-weight: 600;
}

header {
  z-index: 1001;
}
header .title {
  padding: 5px 80px;
}
header .title div:first-child {
  font-weight: 300;
  color: #fff;
  font-size: 47px;
  font-size: 2.9375rem;
  font-family: "Roboto Slab";
}
header .title p {
  font-size: 20px;
  font-size: 1.25rem;
  padding: 0 0 0 55px;
  font-weight: 600;
  color: #2596f1;
}
header .highlight {
  background: #fff;
}
header .highlight .title {
  background: #2596f1;
}
header .highlight .title p {
  color: #fff;
}
header .highlight .header-nav {
  box-shadow: 0 0px 0px 1px #EAEAEA;
}
header .highlight .header-nav ul li.navigator > a {
  color: #333;
}
header .highlight .header-nav ul li.navigator > a:hover, header .highlight .header-nav ul li.navigator > a.active {
  border-bottom: 5px solid #2596f1;
}
header .header-content {
  position: fixed;
  top: 0;
}
header .header-nav ul li.navigator > a {
  bottom: -1px;
  display: block;
  color: #fff;
  font-size: 18px;
  font-size: 1.125rem;
  border-bottom: 5px solid transparent;
}
header .header-nav ul li.navigator > a:hover, header .header-nav ul li.navigator > a.active {
  color: #2596f1;
}

.content-large-title {
  background: #e2e2e2;
  font-family: 'Roboto Slab','Open Sans';
  font-size: 40px;
  color: #717171;
  padding: 25px 0 35px 0;
  text-shadow: 0 1px 1px #F2F2F2;
}
.content-large-title.bottom-arrow-border {
  padding-bottom: 40px !important;
}
.content-large-title.bottom-arrow-border {
  position: relative;
  overflow: auto;
  padding-bottom: 18px;
}
.content-large-title.bottom-arrow-border:after {
  bottom: 0px;
  background-position: left bottom;
  background: -webkit-linear-gradient(-45deg, #ffffff 9px, transparent 0%), -webkit-linear-gradient(45deg, #ffffff 9px, transparent 0%);
  background: -moz-linear-gradient(-45deg, #ffffff 9px, transparent 0%), -moz-linear-gradient(45deg, #ffffff 9px, transparent 0%);
  background: -o-linear-gradient(-45deg, #ffffff 9px, transparent 0%), -o-linear-gradient(45deg, #ffffff 9px, transparent 0%);
  background: linear-gradient(-45deg, #ffffff 9px, transparent 0%), linear-gradient(45deg, #ffffff 9px, transparent 0%);
  content: " ";
  display: block;
  position: absolute;
  left: 0px;
  width: 100%;
  height: 18px;
  background-repeat: repeat-x;
  background-size: 18px 18px;
}
.content-large-title.top-arrow-border {
  padding-top: 40px !important;
}
.content-large-title.top-arrow-border {
  position: relative;
  overflow: auto;
  padding-top: 18px;
}
.content-large-title.top-arrow-border:before {
  top: 0px;
  background-position: left top;
  background: -webkit-linear-gradient(-135deg, #ffffff 9px, transparent 0%), -webkit-linear-gradient(135deg, #ffffff 9px, transparent 0%);
  background: -moz-linear-gradient(-135deg, #ffffff 9px, transparent 0%), -moz-linear-gradient(135deg, #ffffff 9px, transparent 0%);
  background: -o-linear-gradient(-135deg, #ffffff 9px, transparent 0%), -o-linear-gradient(135deg, #ffffff 9px, transparent 0%);
  background: linear-gradient(-135deg, #ffffff 9px, transparent 0%), linear-gradient(135deg, #ffffff 9px, transparent 0%);
  content: " ";
  display: block;
  position: absolute;
  left: 0px;
  width: 100%;
  height: 18px;
  background-repeat: repeat-x;
  background-size: 18px 18px;
}
.content-large-title .fa {
  padding-right: 20px;
  margin-left: -20px;
  color: #2596f1;
}

.page {
  background: #fff;
}
.page .feature-text {
  background: #fff;
  padding: 20px 80px 30px 80px;
}
.page .feature-text .row {
  max-width: 1260px;
  margin: 0 auto;
  padding: 20px 10px;
}
.page .feature-text .row:not(:last-of-type) {
  border-bottom: #eaeaea thin solid;
}
.page .feature-text .row .feature-box {
  padding: 10px 40px 30px 40px;
  text-align: justify;
  line-height: 30px;
}
.page .feature-text .row .feature-box .fa {
  color: #2596f1;
  font-size: 45px;
  padding-bottom: 10px;
}
.page .feature-text .row .feature-box h4 {
  font-family: 'Roboto Slab';
  color: #2596f1;
  font-weight: 400;
  font-size: 23px;
  padding: 15px;
}
.page .about-text {
  background: #fff;
}
.page .about-text p, .page .about-text ul {
  max-width: 860px;
  margin: auto;
  text-align: justify;
  line-height: 32px;
  padding: 50px 30px;
}
.page .about-text ul {
  list-style: none;
}
.page .about-text ul li {
  line-height: 40px;
}
.page .about-text ul .fa {
  padding-right: 20px;
  color: #2596f1;
}
.page .index-content {
  top: -120px;
  z-index: 1000;
}
.page .index-content .index-wrapper {
  background: #fff;
}
.page .page-content .text-slider, .page .page-content .background-slider {
  overflow: hidden;
}
.page .page-content .background-slider {
  position: fixed;
  background: #333;
}
.page .page-content .background-slider .cycle-slideshow .cycle-image {
  background-size: cover;
}
.page .page-content .background-slider .cycle-slideshow .cycle-image:before {
  background: #000;
  opacity: 0.7;
  content: "";
  z-index: 101;
}
.page .page-content .background-slider .cycle-slideshow .cycle-image.img-1 {
  background-image: url(../../images/stock/1.jpg);
}
.page .page-content .background-slider .cycle-slideshow .cycle-image.img-2 {
  background-image: url(../../images/stock/2.jpg);
}
.page .page-content .background-slider .cycle-slideshow .cycle-image.img-3 {
  background-image: url(../../images/stock/3.jpg);
}
.page .page-content .background-slider .cycle-slideshow .cycle-image.img-4 {
  background-image: url(../../images/stock/4.jpg);
}
.page .page-content .background-slider .cycle-slideshow .cycle-image.img-5 {
  background-image: url(../../images/stock/5.jpg);
}
.page .page-content .text-slider .cycle-slideshow .cycle-text {
  opacity: 0;
}
.page .page-content .text-slider .cycle-slideshow .cycle-text.cycle-slide-active {
  opacity: 1;
}
.page .page-content .text-slider .cycle-slideshow .cycle-text > div {
  top: 50%;
  left: 15vmin;
  margin-top: -20vmin;
  z-index: 300;
}
.page .page-content .text-slider .cycle-slideshow .cycle-text p {
  color: #fff;
  font-size: 6vmin;
  font-weight: 400;
  padding: 5px 17px;
  display: inline-block;
  float: left;
  clear: left;
  background: rgba(0, 0, 0, 0.2);
  text-shadow: 3px 3px 1px #000;
}

.main-content-view > .container {
  margin-top: 171px;
  width: 100% !important;
  padding: 0;
}
.main-content-view .instruction-point {
  padding: 20px 40px;
}
.main-content-view .instruction-point li {
  line-height: 35px;
  text-align: justify;
  padding-top: 10px;
}
.main-content-view .instruction-point li .fa {
  padding-right: 20px;
  color: #2596f1;
}
.main-content-view .info-text {
  line-height: 35px;
  padding: 10px 20px;
  border: #2596F1 thin solid;
  border-radius: 10px;
  font-size: 20px;
  text-align: justify;
}
.main-content-view .info-text .fa {
  margin-right: 20px;
  color: #2596f1;
  font-size: 25px;
}

.deep-section {
  padding: 10px;
  margin-top: 10px;
}

.course-list {
  background: #FFF;
  margin: 25px 0 25px 0px;
  border: #E2E2E2 thin solid;
  border-radius: 10px;
  box-shadow: 0 2px 3px 1px #ECECEC;
  padding: 25px 30px 0 30px;
}
.course-list .course-title {
  font-size: 30px;
  color: #2596f1;
}
.course-list h3 {
  font-family: "Roboto Slab";
  font-size: 20px;
  font-weight: 400;
}
.course-list .desc-text {
  padding: 10px;
  color: #717171;
}
.course-list .batch-section {
  margin-bottom: 20px;
}
.course-list div.batch-section:not(:last-of-type) {
  border-bottom: #E2E2E2 thin solid;
  padding-bottom: 20px;
}
.course-list .batch-info .fa {
  color: #F77474;
  padding-right: 5px;
}
.course-list .batch-info span.girls-only {
  color: #ccc;
  padding-left: 5px;
  color: #9B9292;
  font-size: 15px;
}
.course-list .batch-location {
  color: #2596f1;
  font-size: 20px;
}
.course-list .batch-location .fa {
  padding-right: 10px;
}
.course-list .batch-layout {
  padding: 15px 15px 5px 15px;
  margin: 15px 0 0 15px;
  border: #2596f1 1px solid;
  border-radius: 5px;
  color: #2596f1;
  min-width: 180px;
}
.course-list .batch-layout .batch-timing {
  color: #333;
  padding: 10px 0;
}
.course-list .batch-layout .batch-timing .fa {
  padding-right: 10px;
}
.course-list .batch-layout .batch-timing span {
  font-size: 22px;
}
.course-list .batch-layout .batch-timing span:not(.fa) {
  font-family: "Roboto Slab";
}
.course-list div.important-dates-section:not(:last-of-type) {
  border-bottom: #E2E2E2 thin solid;
  margin-bottom: 15px;
}
.course-list .important-dates > div {
  vertical-align: top;
  padding: 10px 20px;
}
.course-list .important-dates .date-format {
  font-size: 18px;
}
.course-list .important-dates .date-format .fa {
  padding-right: 10px;
  color: #2596f1;
}
.course-list .important-dates .important-title {
  font-size: 20px;
  color: #2596f1;
}
.course-list .important-dates .important-note {
  color: #717171;
  font-size: 15px;
  padding: 10px 0;
}

.material-section {
  padding: 20px 80px;
}
.material-section .nav-crumb .fa {
  position: relative;
  top: 7px;
  left: 16px;
  color: #CFCFCF;
}
.material-section .nav-crumb .breadcrumb {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin: 0 0 0 10px;
  background: #fff;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 10px;
}
.material-section .nav-crumb .breadcrumb a {
  color: #2196F3;
}
.material-section .nav-crumb .breadcrumb a:hover {
  text-decoration: none;
  color: #333;
}
.material-section .nav-crumb .breadcrumb.active a {
  color: #777;
}
.material-section .tab-content {
  padding: 20px;
}
.material-section .tab-content ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.material-section .tab-content ul li {
  padding: 10px;
  margin: 10px;
  font-weight: 400;
  font-size: 15px;
  font-size: 0.9375rem;
  text-align: center;
}
.material-section .tab-content ul li .fa {
  display: block;
  color: #2196F3;
  font-size: 60px;
}
.material-section .tab-content ul li div:last-child {
  padding-top: 5px;
}
.material-section .tab-content ul li:hover .fa {
  color: #333;
}
.material-section .nav {
  border: 0;
}
.material-section .nav .active {
  border: 0;
}
.material-section .nav .active a {
  color: #333;
  font-weight: 600;
}
.material-section .nav a {
  border: 0 !important;
  color: #2196F3;
  border-radius: 0;
  font-weight: 400;
  font-size: 18px;
  font-size: 1.125rem;
}
.material-section .nav a .fa {
  display: none;
  padding-right: 5px;
}
.material-section .nav a:hover {
  color: #333;
  background: #fff;
}
.material-section .nav a:hover, .material-section .nav a:focus {
  border: 0;
}

@media (min-width: 1200px) {
  header .header-nav {
    padding: 0px 80px 0px 80px;
  }
  header .header-nav ul li.navigator > a {
    padding: 15px 25px 10px 25px;
  }

  .page .feature-text {
    padding: 20px 80px 30px 80px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  header .header-nav ul li.navigator > a {
    padding: 15px 15px 10px 15px;
  }

  .page .feature-text {
    padding: 20px 80px 30px 80px;
  }
}
@media (max-width: 991px) {
  .page .feature-text {
    padding: 20px 20px 30px 20px;
  }
}
