/*** sass functions includes extends ***/
/*** end ***/
/*** sass variables ***/
/*** end ***/
::-moz-selection {
  background-color: #FFA;
  color: #000;
}

::selection {
  background-color: #FFA;
  color: #000;
}

a, a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer {
  cursor: pointer;
  outline: 0;
}

::-webkit-scrollbar {
  width: 5px;
  height: 6px;
}

::-webkit-scrollbar-track-piece {
  background-color: #000;
}

::-webkit-scrollbar-thumb {
  background-color: #333;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #666;
  border: #444 thin solid;
}

.align-top {
  vertical-align: top;
}

.align-middle {
  vertical-align: middle;
}

header, header .header-content, header .header-nav ul li a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

header .header-nav ul li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

html, html body, .page .index-content, .page .page-content .text-slider .cycle-slideshow, .page .page-content .background-slider .cycle-slideshow, .page .page-content .text-slider .cycle-slideshow .cycle-text {
  position: relative;
}

header, .page .page-content .text-slider, .page .page-content .background-slider, .page .page-content .background-slider .cycle-slideshow .cycle-image:before, .page .page-content .text-slider .cycle-slideshow .cycle-text > div {
  position: absolute;
}

html, html body {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  -o-user-select: text;
  user-select: text;
}

html, html body, header, header .header-content, .page, .page .page-content, .page .page-content .text-slider, .page .page-content .background-slider, .page .page-content .text-slider .cycle-slideshow, .page .page-content .background-slider .cycle-slideshow, .page .page-content .background-slider .cycle-slideshow .cycle-image, .page .page-content .background-slider .cycle-slideshow .cycle-image:before, .page .page-content .text-slider .cycle-slideshow .cycle-text {
  width: 100%;
}

.full-height, .ui-mobile [data-role=page], html, html body, .page, .page .index-content, .page .index-content .index-wrapper, .page .page-content, .page .page-content .text-slider, .page .page-content .background-slider, .page .page-content .text-slider .cycle-slideshow, .page .page-content .background-slider .cycle-slideshow, .page .page-content .background-slider .cycle-slideshow .cycle-image, .page .page-content .background-slider .cycle-slideshow .cycle-image:before, .page .page-content .text-slider .cycle-slideshow .cycle-text {
  height: 100%;
}

.page .page-content .text-slider, .page .page-content .background-slider {
  overflow: hidden;
}

header .title, header .header-nav, .page .content-large-title, .page .feature-text .row .feature-box h4 {
  text-align: center;
}

html {
  overflow: auto;
}
html, html body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-animation-delay: 0.1s;
  -webkit-animation-name: fontfix;
  -webkit-animation-duration: 0.1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
}

h1, h2, h3 {
  font-weight: 300;
}

h4, h5, h6 {
  font-weight: 700;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none !important;
}

.ui-bold {
  font-weight: 600;
}

header {
  z-index: 1001;
}
header .title {
  padding: 10px 80px;
}
header .title div:first-child {
  font-weight: 300;
  color: #fff;
  font-size: 40px;
  font-size: 2.5rem;
  font-family: "Roboto Slab";
}
header .title p {
  font-size: 20px;
  font-size: 1.25rem;
  padding: 5px 0 0 5px;
  font-weight: 600;
  color: #25bbf1;
}
header .highlight {
  background: #fff;
}
header .highlight .title {
  background: #2596f1;
}
header .highlight .title div:first-child {
  font-weight: 400;
}
header .highlight .title p {
  color: #fff;
}
header .highlight .header-nav {
  box-shadow: 0 0px 0px 1px #EAEAEA;
}
header .highlight .header-nav ul li a {
  color: #333;
}
header .highlight .header-nav ul li a:hover {
  border-bottom: 5px solid #2596f1;
}
header .header-content {
  position: fixed;
  top: 0;
}
header .header-nav ul li a {
  display: block;
  color: #fff;
  font-size: 18px;
  font-size: 1.125rem;
  border-bottom: 5px solid transparent;
}
header .header-nav ul li a:hover {
  color: #2596f1;
}

.page {
  background: #fff;
}
.page .content-large-title {
  background: #e2e2e2;
  font-family: 'Roboto Slab','Open Sans';
  font-size: 40px;
  color: #717171;
  padding: 35px 0;
  text-shadow: 0 1px 1px #F2F2F2;
}
.page .content-large-title.bottom-arrow-border {
  padding-bottom: 40px !important;
}
.page .content-large-title.bottom-arrow-border {
  position: relative;
  overflow: auto;
  padding-bottom: 18px;
}
.page .content-large-title.bottom-arrow-border:after {
  bottom: 0px;
  background-position: left bottom;
  background: -webkit-linear-gradient(-45deg, #ffffff 9px, transparent 0%), -webkit-linear-gradient(45deg, #ffffff 9px, transparent 0%);
  background: -moz-linear-gradient(-45deg, #ffffff 9px, transparent 0%), -moz-linear-gradient(45deg, #ffffff 9px, transparent 0%);
  background: -o-linear-gradient(-45deg, #ffffff 9px, transparent 0%), -o-linear-gradient(45deg, #ffffff 9px, transparent 0%);
  background: linear-gradient(-45deg, #ffffff 9px, transparent 0%), linear-gradient(45deg, #ffffff 9px, transparent 0%);
  content: " ";
  display: block;
  position: absolute;
  left: 0px;
  width: 100%;
  height: 18px;
  background-repeat: repeat-x;
  background-size: 18px 18px;
}
.page .content-large-title.top-arrow-border {
  padding-top: 40px !important;
}
.page .content-large-title.top-arrow-border {
  position: relative;
  overflow: auto;
  padding-top: 18px;
}
.page .content-large-title.top-arrow-border:before {
  top: 0px;
  background-position: left top;
  background: -webkit-linear-gradient(-135deg, #ffffff 9px, transparent 0%), -webkit-linear-gradient(135deg, #ffffff 9px, transparent 0%);
  background: -moz-linear-gradient(-135deg, #ffffff 9px, transparent 0%), -moz-linear-gradient(135deg, #ffffff 9px, transparent 0%);
  background: -o-linear-gradient(-135deg, #ffffff 9px, transparent 0%), -o-linear-gradient(135deg, #ffffff 9px, transparent 0%);
  background: linear-gradient(-135deg, #ffffff 9px, transparent 0%), linear-gradient(135deg, #ffffff 9px, transparent 0%);
  content: " ";
  display: block;
  position: absolute;
  left: 0px;
  width: 100%;
  height: 18px;
  background-repeat: repeat-x;
  background-size: 18px 18px;
}
.page .content-large-title .fa {
  padding-right: 20px;
  margin-left: -20px;
  color: #2596f1;
}
.page .feature-text {
  background: #fff;
  padding: 20px 80px 30px 80px;
}
.page .feature-text .row {
  max-width: 1260px;
  margin: 0 auto;
  padding: 20px 10px;
}
.page .feature-text .row:not(:last-of-type) {
  border-bottom: #eaeaea thin solid;
}
.page .feature-text .row .feature-box {
  padding: 10px 40px 30px 40px;
  text-align: justify;
  line-height: 30px;
}
.page .feature-text .row .feature-box .fa {
  color: #2596f1;
  font-size: 45px;
  padding-bottom: 10px;
}
.page .feature-text .row .feature-box h4 {
  font-family: 'Roboto Slab';
  color: #2596f1;
  font-weight: 400;
  font-size: 23px;
  padding: 15px;
}
.page .about-text {
  background: #fff;
}
.page .about-text p, .page .about-text ul {
  max-width: 860px;
  margin: auto;
  text-align: justify;
  line-height: 32px;
  padding: 50px 30px;
}
.page .about-text ul {
  list-style: none;
}
.page .about-text ul li {
  line-height: 40px;
}
.page .about-text ul .fa {
  padding-right: 20px;
  color: #2596f1;
}
.page .index-content {
  top: -120px;
  z-index: 1000;
}
.page .index-content .index-wrapper {
  background: #fff;
}
.page .page-content .text-slider, .page .page-content .background-slider {
  overflow: hidden;
}
.page .page-content .background-slider {
  position: fixed;
  background: #333;
}
.page .page-content .background-slider .cycle-slideshow .cycle-image {
  background-size: cover;
}
.page .page-content .background-slider .cycle-slideshow .cycle-image:before {
  background: #000;
  opacity: 0.7;
  content: "";
  z-index: 101;
}
.page .page-content .background-slider .cycle-slideshow .cycle-image.img-1 {
  background-image: url(../../images/stock/1.jpg);
}
.page .page-content .background-slider .cycle-slideshow .cycle-image.img-2 {
  background-image: url(../../images/stock/2.jpg);
}
.page .page-content .background-slider .cycle-slideshow .cycle-image.img-3 {
  background-image: url(../../images/stock/3.jpg);
}
.page .page-content .background-slider .cycle-slideshow .cycle-image.img-4 {
  background-image: url(../../images/stock/4.jpg);
}
.page .page-content .background-slider .cycle-slideshow .cycle-image.img-5 {
  background-image: url(../../images/stock/5.jpg);
}
.page .page-content .text-slider .cycle-slideshow .cycle-text {
  opacity: 0;
}
.page .page-content .text-slider .cycle-slideshow .cycle-text.cycle-slide-active {
  opacity: 1;
}
.page .page-content .text-slider .cycle-slideshow .cycle-text > div {
  top: 50%;
  left: 15vmin;
  margin-top: -20vmin;
  z-index: 300;
}
.page .page-content .text-slider .cycle-slideshow .cycle-text p {
  color: #fff;
  font-size: 6vmin;
  font-weight: 400;
  padding: 5px 17px;
  display: inline-block;
  float: left;
  clear: left;
  background: rgba(0, 0, 0, 0.2);
  text-shadow: 3px 3px 1px #000;
}

@media (min-width: 1200px) {
  header .header-nav {
    padding: 0px 80px 0px 80px;
  }
  header .header-nav ul li a {
    padding: 20px 25px 15px 25px;
  }

  .page .feature-text {
    padding: 20px 80px 30px 80px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  header .header-nav ul li a {
    padding: 20px 15px 15px 15px;
  }

  .page .feature-text {
    padding: 20px 80px 30px 80px;
  }
}
@media (max-width: 991px) {
  .page .feature-text {
    padding: 20px 20px 30px 20px;
  }
}
