<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta charset="utf-8">
    <title>Arul Institute</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300,700,600' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
    <link rel=stylesheet href="css/bootstrap.min.css">
    <link rel=stylesheet href="css/font-awesome.min.css">
    <link rel=stylesheet href="css/onepage-scroll.css">
    <link rel=stylesheet href="css/layout.css">
</head>

<body>
    <header id="header" ng-controller="HeaderController as hCtrl" ng-class="{navigated: hCtrl.navigated}">
        <div class="title">
            <div>@rul Institute</div>
            <p>ground for excellence</p>
        </div>
        <div class="header-nav">
            <ul>
                <li ng-repeat="nav in hCtrl.navigators track by nav.index">
                    <a ng-click="hCtrl.moveTo(nav)" ng-class="{'nav-highlight': nav.highlight, selected: nav.selected}" href="#{{nav.page}}" ng-bind="nav.page"></a>
                </li>
            </ul>
        </div>
    </header>
    <!-- /header -->
    <div class="index-background">
        <div class="cycle-slideshow" data-cycle-slides="> div">
            <div class="cycle-image img-1"></div>
            <div class="cycle-image img-2"></div>
            <div class="cycle-image img-3"></div>
            <div class="cycle-image img-4"></div>
            <div class="cycle-image img-5"></div>
        </div>
    </div>
    <div class="wrapper" page="selectedPage" beforeMove="beforeMove(index)" afterMove="beforeMove(index)">
        <section class="pages">
            <div class="text-slider">
                <div class="cycle-slideshow" data-cycle-fx="scrollHorz" data-cycle-slides="> div">
                    <div class="cycle-text">
                        <div>
                            <p>Arul institute</p>
                            <p>ground for excellence</p>
                        </div>
                    </div>
                    <div class="cycle-text">
                        <div>
                            <p>Education is not the learning of facts</p>
                            <p>but the training of the mind to think</p>
                        </div>
                    </div>
                    <div class="cycle-text">
                        <div>
                            <p>Confidence and hard work is the best</p>
                            <p>medicine to kill the disease called failure</p>
                        </div>
                    </div>
                    <div class="cycle-text">
                        <div>
                            <p>Text line one</p>
                            <p>text line three and next</p>
                        </div>
                    </div>
                    <div class="cycle-text">
                        <div>
                            <p>Sample text</p>
                            <p>text line three and next</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="pages content-page">Page2</section>
        <section class="pages content-page">Page3</section>
        <section class="pages content-page">Page4</section>
        <section class="pages content-page">
            <div>
                <div class="title-section">
                 <h2><i class="fa fa-book"></i> Materials <span>  some text about materials</span></h2>
             </div>
             <div class="content-section">
                 <div>
                     <div role="tabpanel">
                      <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"><i class="fa fa-tags"></i> Tenth Standard</a></li>
                        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"><i class="fa fa-tags"></i> Eleventh Standard</a></li>
                        <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab"><i class="fa fa-tags"></i> Twelfth Standard</a></li>                       
                    </ul>
                    <div class="nav-crumb">
                        <i class="fa fa-chevron-right"></i>
                        <ol class="breadcrumb">
                          <li><a href="#">Tenth Standard</a></li>
                          <li><a href="#">Keys</a></li>
                          <li class="active">2015</li>
                      </ol>
                  </div>
                  <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="home">
                        <div>
                            <ul>
                                <li><div class="fa fa-folder-open"></div><div>Physics</div></li>
                                <li><div class="fa fa-folder-open"></div><div>Chemistry</div></li>  
                                <li><div class="fa fa-folder-open"></div><div>Maths</div></li>
                                <li><div class="fa fa-file-text"></div><div>Volume 1</div></li>
                                <li><div class="fa fa-file-text"></div><div>Volume 2</div></li>                                                                       
                            </ul>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="profile">...</div>                       
                </div>

            </div>
        </div>
    </div>
</div>
</section>
<section class="pages content-page">Page6</section>
</div>
<script src="js/jquery-1.7.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/jquery.cycle2.js"></script>
<script src="js/jquery.onepage-scroll.min.js"></script>
<script src="app.js"></script>
</body>

</html>