<div fullpage scroll="scrollToPageIfNeeded()">
    <section class="section">

        <h1> Information for +2 Students</h1>

        <h3>Admission Criteria</h3>

        <p>Admission criteria for our coaching classes is based on the tenth standard public marks</p>

        <h4>Concession for meritorious students</h4>
 
		<h4>Concession in fees would be given based on the percentage of marks scored by the student in the first 20 weekly tests.</h4>
		
		<ul>
			<li>95% & Above - Rs.4000</li>
			<li>90 to 94% - Rs.3000</li>
			<li>85 to 89% - Rs.2000</li>
			<li>80 to 84% - Rs.1500</li>
		<ul> 

    </section>

    <section class="section">
		<h1> Information for +1 Students</h1>

        <h3>Admission Criteria</h3>

        <p>Admission criteria for our coaching classes is based on the tenth standard public marks</p>




    </section>


    <section class="section">
		<h1> Information for 10th Students</h1>

        <h3>Admission Criteria</h3>

        <p>Admission criteria for our coaching classes is based on the tenth standard public marks</p>

        


    </section>

</div>

