<div class="container">
    <section class="section">

        <div class="jumbotron">
            <h1> Information for +2 Students</h1>

            <h2><b>Admission Criteria</b></h2>

            <p>Admission criteria for our coaching classes is based on the tenth standard public marks</p>


            <h2><b>Batch Timings</b></h2>

            <div class="row">
                <div class="col-md-3">
                    <h3>Pallavaram</h3>
                </div>

                <div class="col-md-3">
                    <h3>Batch 1</h3>
                    <p>6.00 am to 8.00 am</p>
                </div>

                <div class="col-md-3">
                    <h3>Batch 2</h3>
                    <p>5.15 pm to 7.15 pm (only for girls)</p>
                </div>

                <div class="col-md-3">
                    <h3>Batch 3</h3>
                    <p>7.30 pm to 9.30 pm</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <h3>East Tambaram</h3>
                </div>

                <div class="col-md-3">
                    <h3>Batch 4</h3>
                    <p>6.00 am to 8.00 am</p>
                </div>

                <div class="col-md-3">
                    <h3>Batch 5</h3>
                    <p>5.15 pm to 7.15 pm (only for girls)</p>
                </div>

                <div class="col-md-3">
                    <h3>Batch 6</h3>
                    <p>7.30 pm to 9.30 pm</p>
                </div>
            </div>
        </div>

    </section>

    <section class="section">
        <div class="jumbotron">
    		<h1> Information for +1 Students</h1>
            <h2><b>Admission Criteria</b></h2>

            <p>Admission criteria for our coaching classes is based on the tenth standard public marks</p>


            <h2><b>Batch Timings</b></h2>

            <div class="row">
                <div class="col-md-4">
                    <h3>Pallavaram</h3>
                </div>

                <div class="col-md-8">
                    <h3>Batch 1</h3>
                    <p>6.00 am to 7.30 am</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <h3>East Tambaram</h3>
                </div>

                <div class="col-md-8">
                    <h3>Batch 2</h3>
                    <p>5.30 pm to 7.00 pm</p>
                </div>
            </div>
        </div>
    </section>


    <section class="section">
        <div class="jumbotron">
            <h1> Information for 10th Students (Uniform Syllabus)</h1>

            <h2><b>Batch Timings</b></h2>

            <div class="row">
                <div class="col-md-4">
                    <h3>Pallavaram</h3>
                </div>

                <div class="col-md-8">
                    <h3>Batch 1</h3>
                    <p>5.30 pm to 6.45 pm</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <h3>East Tambaram</h3>
                </div>

                <div class="col-md-8">
                    <h3>Batch 2</h3>
                    <p>6.00 am to 7.15 am</p>
                </div>
            </div>
        </div>
    </section>


    <section class="section">
        <div class="jumbotron">
            <h1> Information for 10th Students (CBSE Syllabus)</h1>

            <h2><b>Batch Timings</b></h2>

            <div class="row">
                <div class="col-md-4">
                    <h3>Pallavaram</h3>
                </div>

                <div class="col-md-8">
                    <h3>Batch 1</h3>
                    <p>5.30 pm to 7.00 pm</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <h3>East Tambaram</h3>
                </div>

                <div class="col-md-8">
                    <h3>Batch 2</h3>
                    <p>5.30 pm to 7.00 pm</p>
                </div>
            </div>
        </div>
    </section>

</div>

