<div class="container">
    <section class="section">

        <div class="jumbotron">
            <h1> Information for +2 Students</h1>

            <h2><b>Admission Criteria</b></h2>

            <p>Admission criteria for our coaching classes is based on the tenth standard public marks</p>


            <h2><b>Batch Timings</b></h2>

            <div class="row">
                <div class="col-md-3">
                    <h3>Pallavaram</h3>
                </div>

                <div class="col-md-3">
                    <h3>Batch 1</h3>
                    <p>6.00 am to 8.00 am</p>
                </div>

                <div class="col-md-3">
                    <h3>Batch 2</h3>
                    <p>5.15 pm to 7.15 pm (only for girls)</p>
                </div>

                <div class="col-md-3">
                    <h3>Batch 3</h3>
                    <p>7.30 pm to 9.30 pm</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <h3>East Tambaram</h3>
                </div>

                <div class="col-md-3">
                    <h3>Batch 4</h3>
                    <p>6.00 am to 8.00 am</p>
                </div>

                <div class="col-md-3">
                    <h3>Batch 5</h3>
                    <p>5.15 pm to 7.15 pm (only for girls)</p>
                </div>

                <div class="col-md-3">
                    <h3>Batch 6</h3>
                    <p>7.30 pm to 9.30 pm</p>
                </div>
            </div>

            <h2><b>Concession for Meritorious Students</b></h2>

            <p>Concession in fees would be given based on the percentage of marks scored by the student in the first 20 weekly tests.</p>

            <div class="row">
                <div class="col-md-3">
                    <h3>Percentage Range</h3>
                </div>

                <div class="col-md-2">                    
                    <p>95% &amp; above</p>
                </div>
                <div class="col-md-2">                    
                    <p>90 to 94%</p>
                </div>
                <div class="col-md-2">                    
                    <p>85 &amp; 89%</p>
                </div>
                <div class="col-md-2">                    
                    <p>80 &amp; 84%</p>
                </div>                
            </div>


            <div class="row">
                <div class="col-md-3">
                    <h3>Concession Offered</h3>
                </div>

                <div class="col-md-2">                    
                    <p>Rs. 4000/-</p>
                </div>
                <div class="col-md-2">                    
                    <p>Rs. 3000/-</p>
                </div>
                <div class="col-md-2">                    
                    <p>Rs. 2000/-</p>
                </div>
                <div class="col-md-2">                    
                    <p>Rs. 1000/-</p>
                </div>                
            </div>


            <h2><b>Important Dates</b></h2>


            <div class="row">
                <div class="col-md-5">
                    <li>Classes commence from <br/> (Any change in the date of commencement of classes would be intimated by SMS)</li>
                </div>

                <div class="col-md-3">                    
                    <p>25th March 2015</p>
                </div>
            </div>
            
        </div>
    </section>

    <section class="section">
        <div class="jumbotron">
    		<h1> Information for +1 Students</h1>
            <h2><b>Admission Criteria</b></h2>

            <p>Admission criteria for our coaching classes is based on the tenth standard public marks</p>


            <h2><b>Batch Timings</b></h2>

            <div class="row">
                <div class="col-md-4">
                    <h3>Pallavaram</h3>
                </div>

                <div class="col-md-8">
                    <h3>Batch 1</h3>
                    <p>6.00 am to 7.30 am</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <h3>East Tambaram</h3>
                </div>

                <div class="col-md-8">
                    <h3>Batch 2</h3>
                    <p>5.30 pm to 7.00 pm</p>
                </div>
            </div>

            <h2><b>Concession for Meritorious Students</b></h2>

            <p>Concession in fees would be given based on the percentage of marks scored by the student in the first 20 weekly tests.</p>

            <div class="row">
                <div class="col-md-3">
                    <h3>Percentage Range</h3>
                </div>

                <div class="col-md-2">                    
                    <p>95% &amp; above</p>
                </div>
                <div class="col-md-2">                    
                    <p>90 to 94%</p>
                </div>
                <div class="col-md-2">                    
                    <p>85 &amp; 89%</p>
                </div>
                <div class="col-md-2">                    
                    <p>80 &amp; 84%</p>
                </div>                
            </div>


            <div class="row">
                <div class="col-md-3">
                    <h3>Concession Offered</h3>
                </div>

                <div class="col-md-2">                    
                    <p>Rs. 1200/-</p>
                </div>
                <div class="col-md-2">                    
                    <p>Rs. 1000/-</p>
                </div>
                <div class="col-md-2">                    
                    <p>Rs. 800/-</p>
                </div>
                <div class="col-md-2">                    
                    <p>Rs. 600/-</p>
                </div>                
            </div>


            <h2><b>Important Dates</b></h2>

            <div class="row">
                <div class="col-md-5">
                    <li>Classes commence from <br/> (Any change in the date of commencement of classes would be intimated by SMS)</li>
                </div>

                <div class="col-md-3">                    
                    <p>17th June 2015</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <li>Last date for submission of Application form <br/> (Admissions will be closed earlier if sufficient number of students have enrolled)</li>
                </div>

                <div class="col-md-3">                    
                    <p>14th June 2015</p>
                </div>
            </div>
        </div>
    </section>


    <section class="section">
        <div class="jumbotron">
            <h1> Information for 10th Students (Uniform Syllabus)</h1>

            <h2><b>Batch Timings</b></h2>

            <div class="row">
                <div class="col-md-4">
                    <h3>Pallavaram</h3>
                </div>

                <div class="col-md-8">
                    <h3>Batch 1</h3>
                    <p>5.30 pm to 6.45 pm</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <h3>East Tambaram</h3>
                </div>

                <div class="col-md-8">
                    <h3>Batch 2</h3>
                    <p>6.00 am to 7.15 am</p>
                </div>
            </div>



            <h2><b>Important Dates</b></h2>

            <div class="row">
                <div class="col-md-5">
                    <li>Classes commence from <br/> (Any change in the date of commencement of classes would be intimated by SMS)</li>
                </div>

                <div class="col-md-3">                    
                    <p>15th April 2015</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <li>Last date for submission of Application form <br/> (Admissions will be closed earlier if sufficient number of students have enrolled)</li>
                </div>

                <div class="col-md-3">                    
                    <p>12th April 2015</p>
                </div>
            </div>
        </div>
    </section>


    <section class="section">
        <div class="jumbotron">
            <h1> Information for 10th Students (CBSE Syllabus)</h1>

            <h2><b>Batch Timings</b></h2>

            <div class="row">
                <div class="col-md-4">
                    <h3>Pallavaram</h3>
                </div>

                <div class="col-md-8">
                    <h3>Batch 1</h3>
                    <p>5.30 pm to 7.00 pm</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <h3>East Tambaram</h3>
                </div>

                <div class="col-md-8">
                    <h3>Batch 2</h3>
                    <p>5.30 pm to 7.00 pm</p>
                </div>
            </div>



            <h2><b>Important Dates</b></h2>

            <div class="row">
                <div class="col-md-5">
                    <li>Classes commence from <br/> (Any change in the date of commencement of classes would be intimated by SMS)</li>
                </div>

                <div class="col-md-3">                    
                    <p>18th March 2015</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <li>Last date for submission of Application form <br/> (Admissions will be closed earlier if sufficient number of students have enrolled)</li>
                </div>

                <div class="col-md-3">                    
                    <p>15th March 2015</p>
                </div>
            </div>

        </div>
    </section>

</div>

