
//Colors

//CHANEL GOLD
$gold: #FFAE46;
$gold-light: #FEEBA9;
$gold-dark: #956736;

//CHANEL BEIGE
$beige: #CABA98;
$beige-light: #CACAA6;
$beige-dark: #866E57;

//CHANEL RED
$red: #A60309;
$red-light: #F50014;
$red-dark: #7C0204;
$red-darker: #43000A;
$red-white: #FFF5F5;

//LIGHT GRAYS (CHANEL WHITE)
$gray-light: #EDEDED;
$gray-lighter: #F2F0F3;
$gray-white: #FCFCFC;

//DARK GRAYS
$gray: #555;
$gray-dark: #333;
$gray-placeholder: #646464;
$gray-medium: #999;

