<div class="container">
	<div class="jumbotron">
		<h1> Instructions </h1>


		<li>Students must be always polite to all fellow students, teachers and all other non teaching staff including helping staff and bus staff of the school.</li>
		<li>Use of abusive language and harsh tones is not permissible in any situation.</li>
		The students must be punctual to the school. Late arrival will be recorded in the diary. The students should also be punctual in reporting back to class after break, activity or lab classes.</li>
		<li>Students of one class are not allowed to enter in other class rooms even during breaks.</li>
		<li>Running, playing and shouting in corridors or class rooms is strictly prohibited.</li>
		<li>Students loitering in school without a valid reason and/or permission are not allowed.</li>
		<li>Students of all classes are strictly prohibited from bringing mobile phones, flash drives, I-Pods and any other gadget in the school.</li>
		<li>Students should not carry much cash to the school. Students are also requested not to indulge in borrowing and lending of cash to other students.</li>
		<li>Students should not be wearing gold or expensive ornaments to school. (including a watch)
		Students are not allowed to wear fancy and colorful clothes except on birthdays or when specially permitted by the school authorities.</li>
		<li>Students indulging in frequent arguments with fellow students or teachers will incur entry in the discipline cards maintained by the school. More entries in discipline cards may result into suspension of a student or expulsion in extreme cases.</li>

	</div>
</div>