<div class="container">
    <div class="jumbotron">
        <h1> Instructions to Parents</h1>
        <h3>In order to ensure that your son / daughter derives the maximum benefit out of our coaching classes, we request you to kindly be aware of the following points & ensure adoption of the same. </h3>
        <ol>
            <li>For +2 students, either class or test will be held on all 7 days of the week.</li>
            <li>Parents should monitor whether their son/daughter are attending the daily classes and the weekly test. If the student could not attend the class/test due to any unavoidable reason it is mandatory for them to carry a leave letter signed by their parent during the next class.</li>
            <li>Parents should take the initiative to find out what has been taught in the class everyday and should ensure that their son/daughter studies the relevant portion the same day itself, as it will take only one hour for the student to revise the portion that is covered in each class. </li>
            <li>Every week there will be a test either in Maths, Physics or Chemistry. The syllabus for the test would be intimated to the student atleast one week in advance to enable them prepare thoroughly for the test.</li>
            <li>The corrected test papers would be given back to the students within a period of 3 to 10 days. Parents should take initiative to scrutinize the corrected test papers and find out the marks scored by the student in every test.  Proper motivation by the parents would ensure further improvement in their performance. If required, the monthly statement of marks can be obtained from our office.</li>
            <li>If the parent needs to enquire anything about their son/daughter they can meet the concerned teacher in person with prior appointment.</li>
            <li>Kindly ensure that your ward does not carry mobile phones to the Institute. If for any reason you feel that it is necessary, please provide us a letter of assurance indicating that the phone would not be used inside the institute premises.</li>
            <li>Balance fees should be paid within the due date mentioned in the prospectus. Fees paid will not be refunded under any circumstance. Fees could be paid either at our Pallavaram or Tambaram office between 7.30 a.m and 11.00 a.m or between 5.00 p.m and 9.00 p.m on all days except on Tuesdays.</li>
            <li>Our office will remain closed on all Tuesdays.</li>
        </ol>
    </div>
</div>