<ion-modal-view class="modal-explore" ng-controller="CollectionsCtrl">
    <div class="bar bar-header bar-dark">
        <button class="button chanel-small-white-button" ng-click="closeCollectionsModal()">CANCEL</button>
    </div>
    <div class="bar bar-subheader bar-dark">
        <h2 class="title">Choose Collection(s)</h2>
    </div>
    <ion-content class="has-subheader strong-padding dark-bg">

        <div class="dark-bg">
            <ion-checkbox ng-repeat="tagName in availableTags" name="selectedTags[]" value="{{tagName}}" class="collections-checkbox-item" ng-checked="selectedTags.indexOf(tagName) > -1" ng-click="toggleSelection(tagName)">{{tagName | formatTag}}
            </ion-checkbox>
        </div>

        <div>
            <button class="button button-block chanel-large-button" ng-click="filterByCollections()">
                Select
            </button>
        </div>
        <div class="error " ng-show="isEmptyError" ng-cloak>
            <span class="error-message">No items have the tags you selected.</span>
        </div>
        <div class="error " ng-show="isValidationError" ng-cloak>
            <span class="error-message">Select one or more collections.</span>
        </div>
    </ion-content>
</ion-modal-view>