<div class="code-of-conduct-content">
<p>The Fashion Community is an inspiring network where you can connect and share pictures of looks made of CHANEL pieces.</p>

<p>This community is yours! Your content is visible by the whole community. It will not be filtered by a moderator before publication, so please make sure it respects our philosophy and our guidelines.
If a content published does not respect these guidelines, this will be removed.</p>


<h3>Content of the application</h3>
		<h4>DOs</h4>
<ul>
	<li>Do publish only pictures of looks made of CHANEL pieces.</li>
	<li>Do publish as many inspiring pictures of CHANEL looks as you want no matter the collections.</li>
	<li>Do comment on the pictures! Be positive and constructive.</li>
	<li>Do write your comments in English as much as possible.</li>
</ul>

<h4>DON’Ts</h4>
<ul>
	<li>Do not publish pictures allowing to recognize clients and do not write any client information on the app.</li>
	<li>Do not write negative comments. Everyone should feel encouraged to post & share with others.</li>
	<li>Do not use or mention other fashion brands pieces and trademarks.</li>
</ul>


		<h3>Use of the application</h3>
<h4>DOs</h4>

<ul>
<li>We invite you to use the app when you are in CHANEL boutiques or offices but you are free to use it outside.
</li>
<li>In boutique, use the app in back office only when you are not looking after a client. You can use the app on the selling floor only when there is no client in the boutique (morning briefing for example)</li>	<li>Do not use or mention other fashion brands pieces and trademarks.</li>
<li>You can use the app during the buyings in the showroom. TBC</li>
	<li>Feel free to share the content with CHANEL employees who are not members
	</li>
</ul>

		<h4>DON’Ts</h4>

	<ul>
<li>Do not show the app and its content to any client or any person who is not a CHANEL employee.
</li>
<li>Do not send any app pictures to clients.
</li>
<li>Do not share any pictures outside the app, such as social media platforms for example.
</li>
		<li>Do not use the app when you are on the selling floor while the boutique is opened
		</li>
		<li>Do not use the app in front of a client
		</li>
	</ul>


<h3>What you will find in this community:</h3>
	<p>Talents, Inspiration, Passion, Sharing, Respect</p>

	<h3>What you will not find in this community:</h3>
<p>Criticisms, judgments</p>


	<h3>Legal statement</h3>

	<ul>

	<li>Post of contents are your responsibility and do not reflect CHANEL’s positions or opinions.
</li>
	<li>Respect CHANEL’s policies on the use of information and electronic communications.
</li>
	<li>Please understand and respect the decision of CHANEL that posts which do not relate to Fashion experience should not be posted.  Ask your manager if you have any questions about what is appropriate to be posted.
</li>
	<li>Do not disclose any information that is confidential or proprietary to CHANEL or that you are otherwise prohibited from disclosing.
</li>
	<li>Make sure that the views you express on a post do not violate morality, public order, or applicable laws and regulations.  You should not post or link to harassing, pornographic or indecent content.
</li>
	<li>Be respectful to others. Posts should not be defamatory, disparaging, denigrating, insulting or offensive and should not in any way affect the privacy of anyone (e.g., no dissemination of personal information such as home address, telephone number, pictures allowing to recognize a client or anyone else, etc.). Personal information and content, which you voluntarily include and post to the FASHION COMMUNITY, will be viewed and possibly used by others at CHANEL.
</li>

	<li>By posting, you acknowledge that CHANEL will own all contents posted by you, and may use it for any purpose whatsoever.
</li>
	<li>You expressly release CHANEL from any claim based upon your decision to post any content and regarding the use of the content posted and your name, position and image, at CHANEL’s own discretion.
</li>
	<li>For the sole need of processing the Fashion Community, CHANEL will use your personal information (name, function, location, email address, phone number, pictures published).  You may require to access, correct and/or dispose of your personal information you at all times by contacting your local IT.
</li>
	<li>CHANEL shall have the right to review all postings via the moderator or otherwise and may request the modification of a posting or refuse a posting completely. CHANEL reserves the right to post or not all submitted content for any reason or no reason. CHANEL may prohibit, discontinue or block access to any posting at any time without notice.
</li>

	</ul>

</div>