<ion-modal-view class="modal-explore" ng-controller="KeywordsCtrl" scroll="false">
    <div class="bar bar-header bar-dark">
        <button class="button chanel-small-white-button" ng-click="closeKeywordsModal()">CANCEL</button>
    </div>
    <div class="bar bar-subheader bar-dark">
        <h3 class="title">Search Keywords</h3>
    </div>
    <ion-content class="has-subheader strong-padding dark-bg" scroll="false" has-bouncing="false">

        <div class="list login-list">
            <div class="item login-item">
                <span class="form-label">Search Caption Text for</span>
                <label class="item item-input item-keyword">
                    <input type="search" placeholder="Keywords" ng-model="searchTerm">
                </label>
                <div>
                    <button class="button button-block chanel-large-button" ng-click="searchByKeyword(searchTerm)">
                        Search
                    </button>
                </div>
            </div>
            <div class="error" ng-show="isEmptyError" ng-cloak>
                <span class="error-message">Your search for "{{invalidSearchTerm}}" returned no results.</span>
            </div>
            <div class="error" ng-show="isValidationError" ng-cloak>
                <span class="error-message">Please enter a keyword to search for.</span>
            </div>
        </div>

    </ion-content>
</ion-modal-view>