<header id="header" >
        <div class="header-content" bind-scroll ng-class="{highlight: (currentState != 'app.home')}">
            <div class="title">
                <div><span class="ui-bold">@</span>rul institute</div>
                <p>......ground for excellence</p>
            </div>
            <div class="header-nav">
                <ul>
                    <li class="navigator"><a ui-sref="app.home" class="active" ui-sref-active="active" >Home</a></li>
                    <li class="navigator dropdown" dropdown>
                        <a class="dropdown-toggle" dropdown-toggle >
                            About Us <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a ui-sref="app.aboutus">Our History</a></li>
                            <li><a ui-sref="app.aboutus">Why Arul?</a></li>
                            <li><a ui-sref="app.aboutus">Founders Message</a></li>
                            <li><a ui-sref="app.aboutus">Faculty</a></li>
                        </ul>
                    </li>
                    <li class="navigator dropdown" dropdown>
                        <a class="dropdown-toggle" dropdown-toggle >
                            Courses <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a ui-sref="app.courses">Twelfth</a></li>
                            <li><a ui-sref="app.courses">Eleventh</a></li>
                            <li><a ui-sref="app.courses">Tenth Uniform Syllabus</a></li>
                            <li><a ui-sref="app.courses">Tenth CBSE Syllabus</a></li>
                            <li><a ui-sref="app.courses">C Program</a></li>
                            <li><a ui-sref="app.courses">Engineering Graphics</a></li>
                        </ul>
                    </li>
                    <li class="navigator"><a ui-sref="app.instructions" ui-sref-active="active">Instructions</a></li>
                    <li class="navigator"><a ui-sref="app.materials" ui-sref-active="active">Downloads</a></li>
                    <li class="navigator"><a ui-sref="app.toppers" ui-sref-active="active">Gallery</a></li>
                    <li class="navigator"><a ui-sref="app.testimonials" ui-sref-active="active">Testimonials</a></li>
                    <li class="navigator"><a ui-sref="app.contact" ui-sref-active="active">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </header>
    <!-- /header -->

    <div class="full-height main-content-view" ui-view="mainContent"></div>
