<!-- Our History Partial -->
<div class="content-large-title bottom-arrow-border"><i class="fa fa-history"></i>Our History</div>
<div class="about-text">
    <p>Since 1991, we have been conducting an intensive & structured coaching programme for 10th, +1 and +2 and Engineering / Medical Entrance. Our classes are designed to provide a deep insight of the subjects and the much needed practice to extract the best performance out of our students. Our results in the past reflect our successful performance. many of our students have done exceedingly well in their board & entrance exams and have joined professional streams in prestigious institutions like Chennai Medical College, Kilpauk Medical College, Stanley Medical College, Bits Pilani, Anna University, NITs and other exteemed Medcial and Engineering Colleges/p>
</div>

