@import "compass/css3";
@import "compass/css3/transform";

/*** sass functions includes extends ***/

@mixin flexbox {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin flex($values) {
    -webkit-box-flex: $values;
    -moz-box-flex: $values;
    -webkit-flex: $values;
    -ms-flex: $values;
    flex: $values;
}

@mixin order($val) {
    -webkit-box-ordinal-group: $val;
    -moz-box-ordinal-group: $val;
    -ms-flex-order: $val;
    -webkit-order: $val;
    order: $val;
}

@function calculateRem($size) {
    $remSize: $size / 16px;
    @return $remSize * 1rem;
}

@mixin font-size($size) {
    font-size: $size;
    font-size: calculateRem($size);
}

@mixin screen-xs {
    @media (max-width: 767px) {
        @content;
    }
}

@mixin screen-sm {
    @media (min-width: 768px) and (max-width: 991px) {
        @content;
    }
}

@mixin screen-md {
    @media (min-width: 992px) and (max-width: 1199px) {
        @content;
    }
}

@mixin screen-lg {
    @media (min-width: 1200px) {
        @content;
    }
}

@mixin keyframes($animation-name) {
    @-webkit-keyframes $animation-name {
        @content;
    }

    @-moz-keyframes $animation-name {
        @content;
    }

    @-ms-keyframes $animation-name {
        @content;
    }

    @-o-keyframes $animation-name {
        @content;
    }

    @keyframes $animation-name {
        @content;
    }
}

@mixin animation($str...) {
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    -ms-animation: #{$str};
    -o-animation: #{$str};
    animation: #{$str};
}

@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}

@mixin border-top-serrated($size, $color-outer) {
    & {
        position: relative;
        overflow: auto;
        padding-top: $size;
    }
    &:before {
        top: 0px;
        background-position: left top;
        @include background(linear-gradient(-135deg, $color-outer ($size / 2), transparent 0), linear-gradient(135deg, $color-outer ($size / 2), transparent 0));
        @include border-serrated-helper($size, $color-outer);
    }
}

@mixin border-bottom-serrated($size, $color-outer) {
    & {
        position: relative;
        overflow: auto;
        padding-bottom: $size;
    }
    &:after {
        bottom: 0px;
        background-position: left bottom;
        @include background(linear-gradient(-45deg, $color-outer ($size / 2), transparent 0), linear-gradient(45deg, $color-outer ($size / 2), transparent 0));
        @include border-serrated-helper($size, $color-outer);
    }
}

@mixin border-serrated-helper($size, $color-outer) {
    content: " ";
    display: block;
    position: absolute;
    left: 0px;
    width: 100%;
    height: $size;
    background-repeat: repeat-x;
    background-size: $size $size;
}

%clearfix {
    *zoom: 1;
    &:before, &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

/*** end ***/
/*** sass variables ***/
$color-collection: #b9383c, #ae215f, #541c77, #462d91, #3c468e, #276990, #00838f, #247369, #3e9a3a, #92b440, #bbba24, #f8bc28, #ff8f00, #ef6c00, #d84315, #4e342e, #414040, #37474f;

/*** end ***/

::-moz-selection {
    background-color: #FFA;
    color: #000;
}

::selection {
    background-color: #FFA;
    color: #000;
}

a, a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer {
    cursor: pointer;
    outline: 0;
}

::-webkit-scrollbar {
    width: 5px;
    height: 6px;
}

::-webkit-scrollbar-track-piece {
    background-color: #000;
}

::-webkit-scrollbar-thumb {
    background-color: #333;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #666;
    border: #444 thin solid;
}

%align-top {
    vertical-align: top;
}

%align-middle {
    vertical-align: middle;
}

%text-overflow {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}

%transition {
    @include transition(all 0.2s ease-in-out);
}

%block {
    display: block;
}

%inline-block {
    @include inline-block;
}

%relative {
    position: relative;
}

%absolute {
    position: absolute;
}

%pointer {
    cursor: pointer;
}

%user-select-none {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

%user-select-text {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    -o-user-select: text;
    user-select: text;
}

%full-width {
    width: 100%;
}

%full-height {
    height: 100%;
}

%overflow-x-hidden {
    overflow-x: hidden;
}

.full-height, .ui-mobile [data-role=page] {
    @extend %full-height;
}

%overflow-hidden {
    overflow: hidden;
}

%overflow-x-hidden {
    overflow-x: hidden;
}

%overflow-y-hidden {
    overflow-y: hidden;
}

%pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

%text-right {
    text-align: right;
}

%text-left {
    text-align: left;
}

%text-center {
    text-align: center;
}

@mixin element($element) {
    @for $i from 1 through 5 {
        .cycle-image.img-#{$i} {
            background-image: url(../images/stock/#{$i}.jpg);
        }
    }
}

@mixin screen-xs {
    @media (max-width: 767px) {
        @content;
    }
}

@mixin screen-sm {
    @media (min-width: 768px) and (max-width: 991px) {
        @content;
    }
}

@mixin screen-xs-sm {
    @media (max-width: 991px) {
        @content;
    }
}

@mixin screen-md {
    @media (min-width: 992px) and (max-width: 1199px) {
        @content;
    }
}

@mixin screen-lg {
    @media (min-width: 1200px) {
        @content;
    }
}

$variant-color: #2596F1;
$variant-light: #25BBF1;
$accent-color: #333;

html {
    @extend %full-width;
    @extend %full-height;
    overflow: auto;
    &, body {
        margin: 0;
        padding: 0;
        font-size: 100%;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        background: #000;
        @extend %user-select-text;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-animation-delay: 0.1s;
        -webkit-animation-name: fontfix;
        -webkit-animation-duration: 0.1s;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-timing-function: linear;
        @extend %relative;
        @extend %full-width;
        @extend %full-height;
    }
}

h1, h2, h3 {
    font-weight: 300;
}

h4, h5, h6 {
    font-weight: 700;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none !important;
}

.align-top {
    @extend %align-top;
}

.align-middle {
    @extend %align-middle;
}

.ui-bold {
    font-weight: 600;
}

@mixin element($element) {
    @for $i from 1 through 5 {
        .cycle-image.img-#{$i} {
            background-image: url(../../images/stock/#{$i}.jpg);
        }
    }
}

header {
    @extend %absolute;
    @extend %full-width;
    @extend %transition;
    z-index: 1001;
    .title {
        @extend %text-center;
        padding: 10px 80px;
        div:first-child {
            font-weight: 300;
            color: #fff;
            @include font-size(40px);
            font-family: "Roboto Slab";
        }
        p {
            @include font-size(20px);
            padding: 5px 0 0 5px;
            font-weight: 600;
            color: #{$variant-light};
        }
    }
    .highlight {
        background: #fff;
        .title {
            background: #{$variant-color};
            div:first-child {
                font-weight: 400;
            }
            p {
                color: #fff;
            }
        }
        .header-nav {
            box-shadow: 0 0px 0px 1px #EAEAEA;
            ul {
                li {
                    a {
                        color: #333;
                        &:hover {
                            border-bottom: 5px solid $variant-color;
                        }
                    }
                }
            }
        }
    }
    .header-content {
        @extend %transition;
        position: fixed;
        @extend %full-width;
        top: 0;
    }
    .header-nav {
        @extend %text-center;
        //padding: 25px 80px 5px 0;
        //@extend %absolute;
        // top: 0;
        //  right: 0;
        ul {
            li {
                @extend %inline-block;
                //  padding: 15px 10px;
                //   margin-left: 10px;
                a {
                    display: block;
                    color: #fff;
                    @include font-size(18px);
                    @extend %transition;
                    border-bottom: 5px solid transparent;
                    &:hover {
                        color: #{$variant-color};
                    }
                }
            }
        }
    }
}

.page {
    background: #fff;
    .content-large-title {
        @extend %text-center;
        background: #e2e2e2;
        font-family: 'Roboto Slab','Open Sans';
        font-size: 40px;
        color: #717171;
        padding: 35px 0;
        text-shadow: 0 1px 1px #F2F2F2;
        &.bottom-arrow-border {
            @include border-bottom-serrated(18px, #ffffff);
            padding-bottom: 40px !important;
        }
        &.top-arrow-border {
            @include border-top-serrated(18px, #ffffff);
            padding-top: 40px !important;
        }
        .fa {
            padding-right: 20px;
            margin-left: -20px;
            color: $variant-color;
        }
    }
    .feature-text {
        background: #fff;
        padding: 20px 80px 30px 80px;
        .row {
            &:not(:last-of-type) {
                border-bottom: #eaeaea thin solid;
            }
            max-width: 1260px;
            margin: 0 auto;
            padding: 20px 10px;
            .feature-box {
                .fa {
                    color: #{$variant-color};
                    font-size: 45px;
                    padding-bottom: 10px;
                }
                padding: 10px 40px 30px 40px;
                text-align: justify;
                line-height: 30px;
                h4 {
                    font-family: 'Roboto Slab';
                    @extend %text-center;
                    color: #{$variant-color};
                    font-weight: 400;
                    font-size: 23px;
                    padding: 15px;
                }
            }
        }
    }
    .about-text {
        background: #fff;
        p, ul {
            max-width: 860px;
            margin: auto;
            text-align: justify;
            line-height: 32px;
            padding: 50px 30px;
        }
        ul {
            list-style: none;
            li {
                line-height: 40px;
            }
            .fa {
                padding-right: 20px;
                color: #{$variant-color};
            }
        }
    }
    @extend %full-width;
    @extend %full-height;
    .index-content {
        @extend %relative;
        @extend %full-height;
        top: -120px;
        z-index: 1000;
        .index-wrapper {
            background: #fff;
            @extend %full-height;
        }
    }
    .page-content {
        @extend %full-width;
        @extend %full-height;
        .text-slider, .background-slider {
            @extend %absolute;
            @extend %overflow-hidden;
            @extend %full-width;
            @extend %full-height;
            overflow: hidden;
            .cycle-slideshow {
                @extend %relative;
                @extend %full-width;
                @extend %full-height;
            }
        }
        .background-slider {
            position: fixed;
            background: #333;
            .cycle-slideshow {
                .cycle-image {
                    @extend %full-width;
                    @extend %full-height;
                    background-size: cover;
                    &:before {
                        @extend %absolute;
                        @extend %full-width;
                        @extend %full-height;
                        background: #000;
                        opacity: 0.7;
                        content: "";
                        z-index: 101;
                    }
                }
                @include element("slide");
            }
        }
        .text-slider {
            .cycle-slideshow {
                .cycle-text {
                    @extend %full-width;
                    @extend %full-height;
                    @extend %relative;
                    opacity: 0;
                    &.cycle-slide-active {
                        opacity: 1;
                    }
                    & > div {
                        @extend %absolute;
                        top: 50%;
                        left: 15vmin;
                        margin-top: -20vmin;
                        z-index: 300;
                    }
                    p {
                        color: #fff;
                        font-size: 6vmin;
                        font-weight: 400;
                        padding: 5px 17px;
                        display: inline-block;
                        float: left;
                        clear: left;
                        background: rgba(0, 0, 0, 0.2);
                        text-shadow: 3px 3px 1px #000;
                    }
                }
            }
        }
    }
}

@include screen-lg {
    header {
        .header-content {
            // padding: 5px 80px;
       
        }
        .header-nav {
            padding: 0px 80px 0px 80px;
            ul {
                li {
                    a {
                        padding: 20px 25px 15px 25px;
                        //        margin-left: 15px;
                   
                    }
                }
            }
        }
    }
    .page .feature-text {
        padding: 20px 80px 30px 80px;
    }
}


@include screen-md {
    header {
        .header-content {
            // padding: 5px 20px;
       
        }
        .header-nav {
            //  padding: 25px 20px 5px 0;
            ul {
                li {
                    //padding: 15px 10px;
                    // margin-left: 10px;
                    a {
                        padding: 20px 15px 15px 15px;
                        //        margin-left: 15px;
                   
                    }
                }
            }
        }
    }
    .page .feature-text {
        padding: 20px 80px 30px 80px;
    }
}


@include screen-xs-sm {
    header {
        .header-content {
            // padding: 5px 10px;
       
        }
        .header-nav {
            //  padding: 25px 10px 5px 0;
            ul {
                li {
                    //      padding: 15px 10px;
                    //      margin-left: 10px;
               
                }
            }
        }
    }
    .page .feature-text {
        padding: 20px 20px 30px 20px;
    }
}