



	
		.content{
			margin-top: -91px;
		}
	


.drop_down .second .inner ul,
.drop_down .second .inner ul li ul,
nav.main_menu > ul > li:hover > a span,
header.sticky nav.main_menu > ul > li:hover > a span,
.shopping_cart_header .header_cart:hover, 
.shopping_cart_header:hover .header_cart,
.shopping_cart_dropdown
{
	background-color: rgba(0,0,0,0.8);
}






	.qode_call_to_action.container{
		background-color:;
	}

