<div class="content-large-title bottom-arrow-border"><i class="fa fa-bullseye"></i>Our Goals</div>
<div class="about-text">
    <ul>
        <li><i class="fa fa-check"></i>To empower the students with extensive knowledge to confront the future</li>
        <li><i class="fa fa-check"></i>To empower students using the vast experience of our expert faculty</li>
        <li><i class="fa fa-check"></i>To help the student have a thorough understanding of the concepts and the subject</li>
        <li><i class="fa fa-check"></i>To teach the concepts clearly using multimedia enabled classtooms</li>
        <li><i class="fa fa-check"></i>To increase the confidence of the students by conducting weekly tests</li>
        <li><i class="fa fa-check"></i>To motivate you to pursue your studies with more vigour</li>
        <li><i class="fa fa-check"></i>To help boost your morale and orient you towards curriculum by conducting psychology sessions</li>
    </ul>
</div>